/* --------color guide--------- */

/* dark blue: #05386B
dark green: #379683
green: #5CDB95
light green: #8EE4AF
tan: #EDF5E1 */

/* global styling */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

body {
    background-color: #5CDB95;
}


h1 {
    font-family: 'Fjalla One', sans-serif;
}

h3 {
    font-family: 'Dancing Script', cursive;
}

p {
    font-family: 'Nunito Sans', sans-serif;
}

a {
    font-family: 'Nunito Sans', sans-serif;
}

.white {
    color: #EDF5E1;
}

/* navbar */

nav {
    width: 100%;
    padding: 10px;
}

.drop-menu {
    position: relative;
    display: inline-block;
}

.menu-btn {
    background: none;
    border: none;
    font-size: 18px;
    color: #05386B;
    
}

.menu-content {
    display: none;
    position: absolute;
    min-width: 160px;
    padding: 5px;
    z-index: 1;
    background-color: #EDF5E1;
}

.menu-content a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    color: #05386B;
}

.menu-content a:hover {
    background-color: #05386B;
    color: #EDF5E1;
}

.show {
    display: block;
}

/* main styling */

main {
    padding: 30px 0px;
    width: 75%;
    margin: 0 auto;
}

main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    animation: fadein 2s;
}

main h1 {
    margin-top: 10px;
    font-size: 36px;
    text-align: center;
    color: #05386B;
    animation: fadein 3s;
}

main h3 {
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
    color: #EDF5E1;
    animation: fadein 4s;
}

main p {
    margin-top: 15px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #444;
    animation: fadein 6s;
}

main a {
    margin-top: 5px;
    color: white;
    background-color: #05386B;
    padding: 5px;
    text-decoration: none;
    animation: fadein 6s;
}

main a:hover {
    background-color: #05386B;
    color: #EDF5E1;
}


/* Slideshow CSS */

* {
    box-sizing:border-box
}

.slideshow-container {
 
    max-width: 600px;
    position: relative;
    margin: 0 auto;
}

.slides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.slide-number {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    right: 0;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #379683;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #05386B;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* app css */

fieldset{
    text-align: center;

}

ul{
    text-align: center;
}

li{
    margin: 15px auto;
}

.beerImg{
    width: 150px;
}

form {
    color: #05386B;
    font-size: 1.1em;
    line-height: 200%;
    font-family: 'Nunito Sans', sans-serif;
}

.app-header {
    margin-bottom: 50px;
}

.app-container {
    background-color: #8888;
    height: 500px;
}

.question-title {
    font-size: 1.2em;
}

#newBeerQuiz button {
    margin-top: 10px;
    background-color: #05386B;
    color: #EDF5E1;
    border: none;
    padding: 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
}

#newBeerQuiz button:hover {
    margin-top: 10px;
    background-color: #EDF5E1;
    color: #05386B;

    padding: 5px;
}

footer {
    padding: 20px;
    width: 100%;
    background-color: #379683;
    color: #EDF5E1;
    text-align: center;
}